:root {
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }

/* MENU STYLES */
.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 25%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.swiper-container {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 319px;
    height: 450px;
    background: #fff;
  }
.logo{
    padding: 0.3rem;
    margin-top: 0rem;
    max-width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
.logo3{
    background-color: rgb(0, 0, 0);
    max-width: auto;
    height: 8.3rem;
  }
.logo2{
    padding: 1.2rem;
  }
.arrow{
  background-color: rgb(0, 0, 0);
  width: 5rem;
  height: 5rem;
  top: 3rem;
  left: 4rem;
  position: absolute;
}
.icon-arrow1{
  width: 2.8rem;
  height: 0.12rem;
  border-radius: 4rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 3rem;
  left: 1rem;
  transform: rotate(45deg);
}
.icon-arrow2{
  width: 2.8rem;
  height: 0.12rem;
  border-radius: 4rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 1rem;
  left: 1rem;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 376px) and (max-width: 1024px) {

body {
  font-size: 1.3rem;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 616px;
  height: 870px;
  background: #fff;
}
.swiper-container {
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 8rem;
}
.logo3{
  background-color: rgb(0, 0, 0);
  max-width: auto;
  height: 15rem;
  padding: 1.3rem;
}
.arrow{
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  top: 110px;
  left: 50px;
  position: absolute;
}
.icon-arrow1{
  width: 4.4rem;
  height: 0.2rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 5rem;
  left: 1rem;
  transform: rotate(45deg);
}
.icon-arrow2{
  width: 4.4rem;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 1.7rem;
  left: 1rem;
  transform: rotate(-45deg);
}
}

@media screen and (max-width: 375px) {  

.logo3{
  background-color: rgb(0, 0, 0);
  max-width: auto;
  height: 8rem;
  margin: 0rem;
  padding: 3rem;
  padding-bottom: 3rem;
}
.logo2{
  padding: 0rem;
  margin: 0rem;
}
.logo{
  padding: 0rem;
  margin-top: 0rem;
}
.swiper-container {
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 6.5rem;
}
.arrow{
  background-color: rgb(0, 0, 0);
  width: 5rem;
  height: 5rem;
  top: 4rem;
  left: 1rem;
  position: absolute;
}
.icon-arrow1{
  width: 2.4rem;
  height: 0.17rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 3.5rem;
  left: 0.9rem;
  transform: rotate(45deg);
}
.icon-arrow2{
  width: 2.4rem;
  height: 0.17rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 1.7rem;
  left: 0.9rem;
  transform: rotate(-45deg);
}
}
